[Unit]
Description=Kerberos 5 Administrative Server
After=syslog.target network.target
ConditionPathExists=/var/kerberos/krb5kdc/principal
ConditionPathExists=!/var/kerberos/krb5kdc/kpropd.acl

[Service]
Type=forking
PIDFile=/var/run/kadmind.pid
EnvironmentFile=-/etc/sysconfig/kadmin
ExecStart=/usr/sbin/kadmind -r $KRB5REALM -P /var/run/kadmind.pid $KADMIND_ARGS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
