[Unit]
Description=Kerberos 5 Propagation Client
After=syslog.target network.target
ConditionPathExists=!/var/kerberos/krb5kdc/kpropd.acl

[Service]
ExecStart=/usr/sbin/kpropd -S 

[Install]
WantedBy=multi-user.target

